<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Page</title>
</head>
<body>
    <header>
        <nav>
            <a href="/user">Login Page</a>
            <a href="/chat">Chat Page</a>
        </nav>
    </header>
    <h1>Login Page</h1>
    <form action="/" method="post">
        <input type="text" name="username">
        <button type="submit">Login</button>
    </form>
</body>
</html>